<div class="row header">
  <div class="col-md-9">
    <h1>Prescriptions</h1>
  </div>
  <div class="col-md-3">
    <h1><%= link_to "New Prescription", new_prescription_path, class: "btn btn-success" %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">Clinic</div>
  <div class="col-md-3">Date</div>
  <div class="col-md-3">Created</div>
  <div class="col-md-3">Actions</div>
</div>

<% @prescriptions.each do |prescription| %>
  <div class="row">
    <div class="col-md-3"><%= link_to prescription.clinic, prescription %></div>
    <div class="col-md-3"><%= prescription.date %></div>
    <div class="col-md-3">
      <%= prescription.user.email %><br>
      <%= time_ago_in_words(prescription.created_at) %> ago
    </div>
    <div class="col-md-3">
      <%= link_to "Edit", edit_prescription_path(prescription), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
